Motivation for dictionary

In [2]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

Use the index() method on countries to find the index of 'germany'. Store this index as ind_ger

In [6]:
# Get index of 'germany': ind_ger
ind_ger = countries.index("germany")
ind_ger

2

In [7]:
# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

loc and iloc

In [8]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

In [9]:
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [10]:
cars.loc['JAP']

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [11]:
cars.iloc[2]

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [16]:
# Print out observations for Australia and Egypt
cars.loc[['AUS', 'JAP']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JAP           588      Japan         False

In [19]:
# Print out drives_right value of Morocco
cars.loc['MOR', 'drives_right']

True

In [20]:
# Print out a sub-DataFrame, containing the observations for Russia and Morocco 
# and the columns country and drives_right.
cars.loc[['RU', 'MOR'], ['country', 'drives_right']]

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [21]:
# Print out drives_right column as Series
cars.iloc[:, -1]

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [26]:
# Print out drives_right column as DataFrame (define inside square bracket)
cars.iloc[:, [-1]]

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [28]:
# Print out cars_per_cap and drives_right as DataFrame
cars.loc[:, ['cars_per_cap', 'drives_right']]

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True